body {
    background-color: #1A1D23;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.register-button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    border: 1px solid #4caf50;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #4caf50;
    color: #fff;
}

/* CSS para a pagina 'index.html' */

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #fff;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    border: 1px solid #ddd;
    padding: 8px;
    color: #333;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #fff;
}

th {
    background-color: #f2f2f2;
}

.create-button, .logout-button, .delete-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.create-button:hover, .logout-button:hover, .delete-button {
    background-color: #45a049;
}

.logout-button {
    background-color: #f44336;
}

.logout-button:hover {
    background-color: #d32f2f;
}


/* CSS para html de 'createProduto.html' */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}


button[type="submit"] {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #cc0000;
}

