{% extends 'base.html' %}

{% block head %}
<title> Lista de Produtos </title>
{% endblock %}

{% block body %}
<h2> Lista de Produtos </h2>
<table border="1">
    <tr>
        <th>Nome do Produto</th>
        <th>Preço</th>
        <th>Categoria</th>
    </tr>
    {% for produto in produtos %}
    <tr>
        <td>{{ produto[0] }}</td>
        <td>{{ produto[1] }}</td>
        <td>{{ produto[2] }}</td>
    </tr>
    {% endfor %}
</table>

<form action='/registoProduto'>
    <button type="submit" class="create-button"> Adicionar Produto </button>
</form>

<form action='/'>
    <button type="submit" class="logout-button">Sair</button>
</form>



{% endblock %}